html, body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 20px;
  padding-bottom: 0px;
  border: none;
  background-color: rgb(0, 0, 0);
}

.titolo {
  font-size:20rem;
  font-family: "fit", sans-serif;
  font-weight: 50;
  font-style: normal;
  color: rgb(220, 2, 2);
  font-weight: bold;
  margin-bottom: none;
}

.sottotitolo {
  font-size: 1.3rem;
  font-family: "futura", sans-serif;
  color: rgb(220, 2, 2);
  margin-top: none;
}

canvas {
  display: block;
}